.fixed {
  position: relative;
  width: 100%;
  /* display: table; */
}
.fixed-wrap {
  clip: rect(0, auto, auto,0); /*(right, bot, top, left)*/
  position: absolute;
  height: 100%;
  width: 100%;
  /* fill all corners on each device */
  top: 0;
  left: 0;
  z-index: -9999;
}
.fixed-dark {
  /* position: relative; -- to scroll the image */
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover; /* important to cover dimensions  */
  background-position: center center;
  /* for different phones */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  display: table;
  z-index: -1;
  top: 64px;
  left: 0;
}
.dark {
  background-color: rgba(0, 0 , 0, .4);
  padding: 5rem 0;
  z-index:1000;
  height: 100%;
  position: fixed;
  width: 100%;
  overflow-y: auto;
}
/* ----- TABLE -----*/
.table {
  background-color: rgba(255, 255, 255, .75);
  text-align: center;
}
.table td, .table th {
  padding: 0.40rem;
  vertical-align: middle;
}
.table img {
  width: 30px;
}
button:focus {
  outline: none;
  /* compatibility reasons - remove inherent styling from element */
  -webkit-appearance: none;
  /* good experience - just in case */
  box-shadow: none;
}
/* */
@media screen and (max-width: 991.98px) {
  .s-lg-none {
  display: none!important;
  }
}
@media screen and (max-width: 575.98px) {
  .s-sm-none {
    display: none!important;
  }
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
