<nav class="navbar navbar-expand-lg fixed-top solid offset">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><img src="../../assets/img/logo.png" alt=""></a>

    <!-- Hamburger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive">
      <span class="custom-toggler-icon"><fa-icon class="burgerIcon" [icon]="['fas', 'bars']">
      </fa-icon></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
<!--      <fa-icon [icon]="['far', 'futbol']" style="color: white; font-size: 1rem"></fa-icon>-->
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a href="/home" class="nav-link">Home</a> <!-- Welcome to football app -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Top&nbsp;5&nbsp;Leagues
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="navigateToTop5Leagues(2021)">Premier&nbsp;League</a>
            <a class="dropdown-item" (click)="navigateToTop5Leagues(2002)">Bundesliga</a>
            <a class="dropdown-item" (click)="navigateToTop5Leagues(2014)">La&nbsp;Liga</a>
            <a class="dropdown-item" (click)="navigateToTop5Leagues(2019)">Serie&nbsp;A</a>
            <a class="dropdown-item" (click)="navigateToTop5Leagues(2015)">League&nbsp;1</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/champions-league" class="nav-link" routerLinkActive="active">Champions&nbsp;League</a>
        </li>
        <li class="nav-item">
          <a href="/europa-league" class="nav-link" routerLinkActive="active">Europa&nbsp;League</a>
        </li>

      </ul>
    </div> <!-- End Collapse -->

  </div> <!-- End Container Fluid -->

</nav>
