/* -- Navbar settings -- */
.navbar {
  padding: .2rem 0 .2rem .5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1rem;
  font-size: .9rem;
  background-color: #1ba605;
}
.navbar-brand img {
  height: 3rem;
}
.navbar-nav li {
  padding-right: .8rem;
}
.navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover{
  color: #006600;
}
/* -- toggler icon settings -- */
.custom-toggler-icon fa-icon {
  color: white;
  font-size: 1.5rem;
  padding-right: .7rem;
}
.custom-toggler-icon fa-icon:focus,
.custom-toggler-icon fa-icon:focus {
  outline: 0;
  /* compatibility reasons - remove inherent styling from element */
  -webkit-appearance: none;
  /* good experience - just in case */
  box-shadow: none;
}
/* -- dropdown menu settings --*/
.dropdown-menu.show {
  background-color: #1ba605;
  border: 2px solid #189504;
}
.dropdown-menu a {
  color: white;
}
.dropdown-menu a:hover {
  color: #006600;
  cursor: pointer;
  background-color: #48b736;
}



