<nav class="navbar navbar-expand-lg fixed-top solid offset">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><img src="../../assets/img/logo.png" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive">
      <span class="custom-toggler-icon">
        <fa-icon class="burgerIcon" [icon]="['fas', 'bars']"></fa-icon>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navDrop1" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Top&nbsp;5&nbsp;Leagues
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div *ngFor="let league of listOfLeagues">
              <a class="dropdown-item" (click)="navigateToLeague(league.id)">{{league.name}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navDrop2" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Teams</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div *ngFor="let league of listOfLeagues">
              <a class="dropdown-item" (click)="navigateToLeagueTeams(league.id)">{{league.name}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin&nbsp;Panel</a>
        </li>

      </ul>
    </div>

  </div>

</nav>
