<div class="container-fluid text-uppercase content-justify-center dark">

  <div class="fixed">
    <!-- If no Results -->
    <h3 class="m-5" style="color: white" *ngIf="leagueTablePositionList.length === 0">{{message}}</h3>

    <div class="container" *ngIf="leagueTablePositionList.length > 0"><!-- If no Results -->
      <div class="py-1 text-right">
        <row>
        <button type="button" class="btn btn-light mr-1" (click)="loadData('total')">TOTAL</button>
        <button type="button" class="btn btn-light mr-1" (click)="loadData('home')">HOME</button>
        <button type="button" class="btn btn-light" (click)="loadData('away')">AWAY</button>
        </row>
      </div>
      <div>
        <table class="table table-hover"> <!-- table-bordered -->
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th class="s-lg-none text-left" scope="col">Team</th>
            <th class="d-lg-none text-left" scope="col">Team</th>
            <th scope="col">Games Played</th>
            <th scope="col">Points</th>
            <th class="s-lg-none" scope="col">Won</th>
            <th class="s-lg-none" scope="col">Draw</th>
            <th class="s-lg-none" scope="col">Lost</th>
            <th class="s-lg-none" scope="col">Goals Scored</th>
            <th class="s-lg-none" scope="col">Goals Conceded</th>
            <th scope="col">Goals Ratio</th>
          </tr>
          </thead>
          <tbody *ngFor="let tableRow of leagueTablePositionList">
          <tr>
            <th scope="row">{{tableRow.position}}</th>
            <td style="width: 80px"><img src="{{tableRow.team.crestUrl}}" class=""></td>
            <td class="s-lg-none" style="text-align: left">{{tableRow.team.name}}</td>
            <td class="d-lg-none" style="text-align: left">{{tableRow.team.shortName}}</td>
            <td>{{tableRow.playedGames}}</td>
            <th>{{tableRow.points}}</th>
            <td class="s-lg-none">{{tableRow.won}}</td>
            <td class="s-lg-none">{{tableRow.draw}}</td>
            <td class="s-lg-none">{{tableRow.lost}}</td>
            <td class="s-lg-none">{{tableRow.goalsFor}}</td>
            <td class="s-lg-none">{{tableRow.goalsAgainst}}</td>
            <td>{{tableRow.goalDifference}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div> <!-- End Fixed -->

</div>

<div class="fixed-wrap">
  <div class="fixed-dark" [style.background-image]="backgroundImageURL"></div>
</div> <!-- End Fixed Wrap -->
