.fixed {
  position: relative;
  width: 100%;
  /* display: table; */
}
.fixed-wrap {
  clip: rect(0, auto, auto,0); /*(right, bot, top, left)*/
  position: absolute;
  height: 100%;
  width: 100%;
  /* fill all corners on each device */
  top: 0;
  left: 0;
  z-index: -9999;
}
.fixed-dark {
  background-image: url("../../assets/img/home_motive.jpg");
  /* position: relative; -- to scroll the image */
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover; /* important to cover dimensions  */
  background-position: center center;
  /* for different phones */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  display: table;
  z-index: -1;
  top: 64px;
  left: 0;
}
.dark {
  background-color: rgba(0, 0 , 0, .3);
  padding: 5rem 0;
  z-index:1000;
  height: 100%;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
/*-- Landing Page Caption --*/
.caption {
  z-index: 1001;
  position: absolute;
  top: 50%;
  width: 100%;
  max-width: 100%;
  text-align: center;
  color: white;
  padding: 0 5rem;
}
.caption h1 {
  font-size: 4.5rem;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: 2.5rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 2rem;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
  .caption h1 {
    font-size: 3.5rem;
    letter-spacing: .2rem;
    padding-bottom: .8rem;
  }
  .caption h3 {
    font-size: 2.2rem;
    padding-bottom: 1.7rem;
  }
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {
  .caption h1 {
    font-size: 2.7rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 1.7rem;
    padding-bottom: 1.2rem;
  }
}
